* {
  padding: 0;
  margin: 0;
}

:root {
  --blue: rgb(22, 22, 90);
}

main {
  min-height: 86vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--blue);
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  font-size: 4rem;
}

.circleContainer {
  display: block;
}

.header {
  color: white;
  height: 8vh;
  background-color: var(--blue);
  display: flex;
  justify-content: left;
  align-items: center;
}
.footer {
  color: white;
  height: 8vh;
  background-color: var(--blue);
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.box {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  height: 3rem;
  width: 12rem;
  border-radius: 0.5rem;
  border: 0;
}

.boxContainer {
  width: 100%;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
